

<!-- footer -->
<footer class="has-background-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4-tablet">
          <h5 class="has-text-light">Email</h5>
          <p class="has-text-white paragraph-lg font-secondary">adityashah204204@gmail.com</p>
        </div>
        <div class="column is-4-tablet">
          <h5 class="has-text-light">Phone</h5>
          <p class="has-text-white paragraph-lg font-secondary">+1 289 885 7196</p>
        </div>
      </div>
    </div>
  </div>
  
</footer>
<!-- /footer -->